:root {
  --cor-0: #ffffff;
  --cor-1: #111111;
  --cor-2: #323232;
  --cor-5: #b5c0d0;
  --cor-6: #7b8fa1;
  --cor-7: #eeeeee;
  --cor-8: #053f5e;
  --cor-10: #022c43;
  --cor-12: #567189;

  --cor-p1: #f8da5b;
  --cor-p2: #f1c40f;
  --cor-p3: #c4a010;
  --cor-p5: #332200;

  --gradient-1: linear-gradient(#f7d439, #f8da5b);
}
.cor-0 {
  color: var(--cor-0);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p5 {
  color: var(--cor-p5);
}
.cor-10 {
  color: var(--cor-10);
}
